#!/sbin/openrc-run

if test "${SVCNAME%%.*}" != "${SVCNAME}" ; then
	vm="${SVCNAME#*.}"
	name="qemu $vm VM"
	vms="$vm"
else
	name="all qemu VMs"
	vms=""
	for vm in /etc/vm/machines.d/*.conf ; do
		vm=$(basename "$vm")
		vm=${vm%.conf}
		vms="$vms $vm"
	done
fi

start() {
	ebegin "Launching $name"
	eindent
	for vm in $vms ; do
		ebegin "Launching $vm"
		tmux new-session -ds vm-"$vm" vm-launch "$vm"
		eend $?
	done
	eend 0
}

stop() {
	ebegin "Stopping $name"
	eindent
	for vm in $vms ; do
		ebegin "Stopping $vm"
		tmux kill-session -t "vm-$vm"
		eend $?
	done
	eend 0
}

attach() {
	tmux attach-session -t vm-$vms
}
