#!/sbin/openrc-run

depend() {
	need localmount net
}

if test "${SVCNAME%%.*}" != "${SVCNAME}"; then
	vm="${SVCNAME#*.}"
	name="qemu VM: $vm"
	command="vm-launch"
	command_args="$vm"
	supervisor=supervise-daemon
	extra_commands="attach"

	attach() {
		vm-attach "$vm"
	}
fi
